#lista li {
    padding: 20px 20px 20px 20px;
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 6px 6px 6px 6px;
    border: 2px;
    border-color: #345678;
    border-style: solid;
}

#lista li a{
       border: 2px;
       border-style: solid;
       border-color: brown;
       color: brown;
       background-color: #16cae1;
       text-decoration: none;
}

#lista li a:hover{
    background-color: cyan;
    border-color: cyan;
}

#lista li a:active{
    color: red;
    background-color: green;
    border-color: red;
}






