p {
    text-align: right;
    font-style: italic;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color:blue;
}

p.prvi{
    text-align: center;
    font-size: 110%;
    color: red;
    font-family: 'Times New Roman', Times, serif;
}

#odlomak2{
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    color: red;
}

#footer a{
    color:gray ;
}

#footer a:hover{
    color: yellow;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            
  }